body{
    background-color: bisque
}
.App {
    text-align: center;
    height: 100%;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 80px;
  }
  .riddle {
      float: left;
      margin-left: 10%;


  }
  .App-header {
    background-color: #09bdc6;
    height: 120px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
  }
  footer {
    float:left;
    vertical-align: bottom;
    background-color: #09bdc6;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    color: white;
  }

  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  .answer-button {
    border-radius: 4px;
    background-color: #09bdc6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
  }
  
  .answer-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .answer-button span:after {
    content: '  \00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
  }
  .answer-button:hover span {
    padding-right: 25px;
  }
  
  .answer-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .answer{
      background-color: #09bdc6;
      color: #FFFFFF;
      border: 3px;
      border-style: double;
      border-color: 09bdc6;
      padding: 3%;
      width: 450px;
      display: inline-block;
  }  
  @keyframes App-logo-spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
  